.header {
  max-width: 1280px;
  background-color: #5C5C5C;
  width: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 21px 0 18px 70px;
  width: 38px;
  height: 38px;
  transition: ease-in-out .5s;
}

.header__logo-link:hover {
  opacity: .5;
  transition: ease-in-out .5s;
}

.header__logo-link:focus {
  outline: none;
  opacity: .5;
}

.header__link {
  margin-left: auto;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link:focus {
  outline: none;
  text-decoration: underline;
}

.header__link_loggedin {
  text-decoration: none;
  color: #fff;
  margin-right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.header__link_loggedin:hover {
  text-decoration: underline;
}

.header__link_loggedin:focus {
  outline: none;
  text-decoration: underline;
}

.header__button {
  color: #000;
  text-align: center;
  text-decoration: none;
  margin: 0 70px 0 30px;
  margin-left: 30px;
  border: none;
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  cursor: pointer;
  transition: ease-in-out .5s;
}

.header__button:hover {
  background-color: #F2F2F2;
  color: #000;
  transition: ease-in-out .5s;
}

.header__button:focus {
  outline: none;
  background-color: #F2F2F2;
  color: #000;
  transition: ease-in-out .5s;
}

.landing-header {
  margin: 0;
  max-width: 1140px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  border-bottom: 1px solid #000;
  padding: 110px 0 23px;
  letter-spacing: -0.04em;
}

.header-main {
  max-width: 1280px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.header-main__logo {
  padding: 18px 16px 18px 70px;
  width: 38px;
  height: 38px;
  margin-right: 29px;
}

.header-main__logo-link:hover {
  opacity: .5;
}

.header-main__logo-link:focus {
  outline: none;
  opacity: .5;
}

.header-main__link {
  text-decoration: none;
  color: #000;
  margin-right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.header-main__link:hover {
  text-decoration: underline;
}

.header-main__link:focus {
  outline: none;
  text-decoration: underline;
}

.header-main__button {
  text-decoration: none;
  width: 100px;
  height: 32px;
  background-color: #F9F9F9;
  color: #000;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  transition: ease-in-out .5s;
  cursor: pointer;
  margin-right: 70px;
}

.header-main__button:hover {
  background-color: #5C5C5C;
  color: #fff;
  transition: ease-in-out .5s;
}

.header-main__button:focus {
  outline: none;
  background-color: #5C5C5C;
  color: #fff;
  transition: ease-in-out .5s;
}

.header-main__button_loggedin {
  text-decoration: none;
  width: 100px;
  height: 32px;
  background-color: #2BE080;
  color: #000;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  transition: ease-in-out .5s;
  cursor: pointer;
  margin-right: 70px;
}


.header-main__button_loggedin:hover {
  background-color: #fff;
  transition: ease-in-out .5s;
}

.header-main__button_loggedin:focus {
  outline: none;
  background-color: #fff;
  transition: ease-in-out .5s;
}

.header__burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-main {
    max-width: 768px;
    justify-content: space-between;
  }

  .header__burger-menu {
    background-image: url('../../images/icon__COLOR_icon-main_burger-menu.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    padding: 0;
    padding-top: 1px;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    background-size: cover;
    margin-top: 15px;
  }

  .header__burger-menu_loggedin {
    background-color: #5C5C5C;
    background-image: url('../../images/burger_white.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    padding: 0;
    padding-top: 1px;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    border: none;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-main__link {
    display: none;
  }
  .header-main__button {
    display: none;
  }

  .header-main__button_loggedin {
    display: none;
  }

  .header__link_loggedin {
    display: none;
  }

  .header-main__logo {
    padding: 0;
    margin: 18px 0 0 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    max-width: 768px;
  }

  .header__logo {
    padding: 18px 0 18px 15px;
  }

  .header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .header__button {
    font-size: 10px;
    line-height: 26px;
    margin: 0 14px 0 13px;
    width: 54px;
    height: 26px;
  }

  .header-main__logo {
    margin: 18px 0 15px 14px;
  }

  .header__burger-menu {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 14px;
  }
}
