.technique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #F5F5F5;
  width: 100%;
}

.technique__header {
  padding: 100px 0 22px;
}

.technique__title {
  margin: 90px auto 26px;
}

.technique__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  max-width: 465px;
  text-align: center;
  letter-spacing: -0.04em;
}

.technique__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 100px auto ;
  padding: 0;
}

.technique__item {
  width: 90px;
  background-color: #E8E8E8;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  margin-right: 10px;
  letter-spacing: -0.04em;
}

.technique__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
  .technique__header {
    padding: 89px 0 22px;
  }

  .technique__list {
    margin: 83px auto 90px;
  }

  .technique__title {
    margin: 81px auto 22px;
  }

  .technique__text {
    font-size: 12px;
    line-height: 18px;
  }

  .technique__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 58px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .technique {
    background-color: #fff;
  }

  .technique__title {
    margin: 64px auto 22px;
  }

  .technique__text {
    font-size: 11px;
    line-height: 16px;
    max-width: 284px;
  }

  .technique__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 188px;
    margin: auto;
    margin-top: 50px;
  }

  .technique__item {
    margin-bottom: 10px;
  }

}



