.promo {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #5C5C5C;
  max-width: 1280px;
  width: 100%;
  position: relative;
}

.promo__logo-container {
  background-image: url('../../../images/pic__COLOR_landing-logo.svg');
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  background-size: contain;
}

.promo__title {
  display: flex;
  color: #fff;
  margin: 0 auto;
  padding: 181px 0 224px;
  max-width: 730px;
  text-align: center;
  letter-spacing: -0.04em;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .promo__title {
    padding: 323px 0 342px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo__title {
    padding: 204px 0 245px;
  }

  .title {
    font-size: 31px;
    line-height: 39px;
  }

  .promo {
    max-width: 767px;
  }

  .promo__logo-container {
    width: 248px;
    height: 248px;
  }
}
