.header-sign {
  max-width: 396px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 70px 40px 70px;
  transition: ease-in-out .5s;
}

.header-sign__logo {
  margin: 70px 0 40px;
  padding: 0;
}

.header-sign__logo:hover {
  opacity: .5;
  transition: ease-in-out .5s;
}

.header-sign__logo:focus {
  opacity: .5;
  outline: none;
}


.login {
  max-width: 396px;
  width: 100%;
}
.login__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.login__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.login__name {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 10px;
}
.login__input {
  border: none;
  background-color: #F9F9F9;
  border-radius: 8px;
  color: #000;
  padding: 14px 0 15px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 11px 0 10px;
}

.login__input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #2BE080;
}

.login__password {
  margin-bottom: 10px;

}
.login__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.login__button {
  text-decoration: none;
  border: none;
  margin-top: 159px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #2BE080;
  border-radius: 3px;
  padding: 14px;
  transition: ease-in-out .5s;
}

.login__button:disabled {
  background-color: #A0A0A0;
}

.login__button:hover {
  text-decoration: underline;
  transition: ease-in-out .5s;
}

.login__button:hover:disabled {
  text-decoration: none;
}

.login__button:focus {
  outline: solid 1px #A0A0A0;
}

.login__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

.login__signin {
  margin-left: 6px;
  text-decoration: none;
  color: #2BE080;
}

.login__signin:hover {
  text-decoration: underline;  
}

.login__signin:focus {
  outline: none;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header-sign {
    max-width: 396px;
    margin-top: 232px;
    padding: 0;
  }

  .header-sign__logo {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-sign{
    margin-top: 56px;
    justify-content: center;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 260px;
  }

  .login__form {
    width: 100%;
    margin-top: 80px;
  }
  .login__button {
    margin-top: 247px;
  }

  .login__text {
    font-size: 12px;
    line-height: 15px;
  }
}