.movies__list {
  max-width: 1140px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: auto;
}

.adding {
  max-width: 1140px;
  width: 100%;
}

.adding__button {
  display: inline-block;
  margin: 19px 0 80px;
  width: 100%;
  border: none;
  background-color: #F9F9F9;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  height: 36px;
  cursor: pointer;
  transition: ease-in-out .5s;
}

.adding__button:hover {
  border: 1px solid black;
  transition: ease-in-out .5s;
}

.adding__button:focus {
  outline: none;
  border: 1px solid black;
  transition: ease-in-out .5s;
}

.adding__button_status_hide {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
  .adding {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .adding__button {
    max-width: 708px;
    width: 100%;
    padding: 0;
    margin: 30px 0 115px;
  }  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__list {
    max-width: 300px;
  }

  .adding__button {
    max-width: 300px;
    margin: 50px 0 142px 0;
  }  
}
